<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- Version 8 MySQL hiberante-cfg.xml example for Hibernate 5 -->
<hibernate-configuration>
  <session-factory>
    <!-- property name="connection.driver_class">com.mysql.jdbc.Driver</property -->
     
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/m06</property>

    <!-- IMPORTANTE REVISAR QUE EL MYSQL DIALECT EN LA PAC DE DESARROLLO ES 8 si no cambiar a 5 -->
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="connection.username">ilerna</property>
    <property name="connection.password">Ilerna_1234</property>
    <property name="hbm2ddl.auto">create</property>
   	<!-- FALTA EL ARCHIVO DE MAPPEO DE CLASES -->
   	<mapping resource="alumno.hbm.xml"/>
   	<mapping resource="modulo.hbm.xml"/>
   	<mapping resource="profesor.hbm.xml"/>
   	
  </session-factory>
</hibernate-configuration>
